@use "functions" as *;
@use "variables" as *;

/* General body styling */
body {
  position: relative; /* Ensures the body is positioned relative to its normal flow */
  display: flex; /* Enables flexbox layout */
  justify-content: center; /* Centers content horizontally */
  // align-items: center; /* Centers content vertically */
  min-height: 100vh; /* Ensures the body takes up at least the full viewport height */
  font-family: $font-family;
  font-style: normal;
  line-height: normal;
  background: white;
  font-feature-settings:
    "liga" off,
    "clig" off;
}

/* Media query for screens with a width of up to 375px */
@media screen and (max-width: 375px) {
  body {
    min-height: 100%; /* Ensures the body takes up at least the full height of its parent container */
  }
}

// Mobile First Approach

.d-none {
  display: none;
}

.d-flex {
  display: flex;
}

button {
  border: none;
  background: none;

  &:hover {
    cursor: pointer;
  }
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

input[type="radio"] {
  accent-color: $blue-500;

  &:hover {
    border: 2px solid $blue-500;
    cursor: pointer;
  }
}

input[type="number"] {
  border: 1px solid $grey-500;
  border-radius: 12px;
  width: 100%;
  height: rem(77px);
  padding: $spacing-300;
  color: $blue-900;
  @include text-preset-4-semiBold;

  &:hover {
    border: 2px solid $blue-500;
    cursor: pointer;
  }

  &::placeholder {
    color: $grey-500;
  }

  &:focus-visible {
    outline: 2px solid $blue-500;
  }
}

input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

label {
  color: $grey-500;
}

main {
  &.container {
    max-width: 1440px;

    .behind {
      position: absolute;
      inset: 0;
      width: 100%;
      height: rem(640px);
      z-index: -1;
      border-radius: 0px 0px 35px 35px;
      background:
        $gradient-1,
        linear-gradient(90deg, rgba(214, 252, 254, 0) 0%, #d6e6fe 100%);
    }

    .hero {
      flex-direction: column;
      row-gap: $spacing-400;
      padding: 2rem 1.5rem rem(61px);
      position: relative;
      align-items: center;
      justify-content: center;

      .info-cards {
        @include flex-col;
        row-gap: $spacing-400;

        .hero-content {
          flex-direction: column;
          row-gap: $spacing-300;
          text-align: center;

          .title {
            color: $blue-900;
            @include text-preset-2-semiBold;
          }

          .copy {
            color: $grey-500;
          }

          .desc {
            color: $grey-500;
          }
        }

        .form {
          background-color: $white;
          border-radius: 1rem;
          box-shadow: 16px 32px 56px 0px rgba(143, 174, 207, 0.25);
          @include flex-col;
          row-gap: $spacing-300;
          padding: $spacing-300;

          .instruction {
            color: $blue-900;
          }

          form {
            @include flex-col;
            row-gap: $spacing-300;

            .radio-wrapper {
              @include flex-row;
              column-gap: $spacing-300;

              div {
                flex: 1;
                label {
                  color: $blue-900;
                }
              }
            }

            .input-unit_wrapper {
              position: relative;

              span {
                @include text-preset-4-semiBold;
                color: $blue-500;
                position: absolute;
                right: $spacing-300;
                top: $spacing-300;
              }
            }

            .metric_input-wrapper {
              flex-direction: column;
              row-gap: $spacing-200;

              div {
                flex: 1;
                row-gap: $spacing-100;
              }
            }

            .imperial_input-wrapper {
              flex-direction: column;
              row-gap: $spacing-200;

              div {
                row-gap: $spacing-100;
                div {
                  flex: 1;
                  column-gap: $spacing-200;
                }
              }
            }
          }

          .result {
            border-radius: 1rem;
            background: $blue-500;
            color: $white;
            @include flex-col;
            row-gap: $spacing-300;
            padding: $spacing-400;

            .welcome-text {
              flex-direction: column;
              row-gap: $spacing-300;
            }

            .calculated {
              flex-direction: column;
              row-gap: $spacing-300;

              .bmi-value {
                @include flex-col;
                row-gap: $spacing-100;

                .value {
                  @include text-preset-2-semiBold;
                }
              }
            }
          }
        }
      }
    }

    .bmi_meaning {
      position: relative;

      @include flex-col;
      row-gap: $spacing-600;

      .human {
        flex: 1;
        img {
          height: rem(354px);
        }
      }

      .result_meaning {
        flex: 1;
        @include flex-col;
        row-gap: $spacing-400;
        padding: 0 $spacing-300;

        h3 {
          @include text-preset-3-semiBold;
          color: $blue-900;
        }
        p {
          color: $grey-500;
        }
      }
    }

    .tips {
      border-radius: 35px;
      background: linear-gradient(
        90deg,
        rgba(214, 252, 254, 0) 0%,
        rgba(214, 230, 254, 0.25) 100%
      );
      margin-top: rem(61.61px);
      padding: $spacing-700 $spacing-300;
      @include flex-col;
      row-gap: $spacing-500;

      .content {
        flex: 1;
        @include flex-col;
        row-gap: $spacing-400;

        .text-container {
          @include flex-col;
          row-gap: $spacing-300;

          h4 {
            @include text-preset-4-semiBold;
            color: $blue-900;
          }

          p {
            @include text-preset-6-regular;
            color: $grey-500;
          }
        }
      }
    }

    .limitations_of_bmi {
      padding: rem(82px) $spacing-300 $spacing-1200;
      .limitations {
        @include flex-col;
        row-gap: $spacing-400;
        text-align: center;

        .title {
          @include text-preset-3-semiBold;
          color: $blue-900;
        }
        .desc {
          color: $grey-500;
          @include text-preset-6-regular;
        }
      }

      .limitations_container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas:
          "gender"
          "age"
          "muscle"
          "preg"
          "race";
        row-gap: $spacing-200;

        .limit {
          border-radius: 16px;
          background: $white;
          box-shadow: 16px 32px 56px 0px rgba(143, 174, 207, 0.25);
          padding: $spacing-300;
          @include flex-col;
          row-gap: $spacing-200;

          &.gender {
            grid-area: gender;
          }
          &.age {
            grid-area: age;
          }
          &.muscle {
            grid-area: muscle;
          }
          &.preg {
            grid-area: preg;
          }
          &.race {
            grid-area: race;
          }

          .title_icon_wrapper {
            @include flex-row;
            column-gap: $spacing-200;

            .title {
              @include text-preset-5-semiBold;
              color: $blue-900;
            }
          }

          .desc {
            @include text-preset-6-regular;
            color: $grey-500;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 768px) {
  main {
    &.container {
      .hero {
        flex-direction: column;
        row-gap: $spacing-500;
        padding: rem(32px) rem(42px) rem(19px) rem(40px);
        align-items: center;
        justify-content: center;

        .info-cards {
          row-gap: $spacing-500;

          .hero-content {
            .title {
              padding: 0 rem(52px);
            }
          }

          .form {
            row-gap: $spacing-400;
            padding: $spacing-400;

            form {
              row-gap: $spacing-300;

              .metric_input-wrapper {
                flex-direction: row;
                column-gap: $spacing-300;
              }
            }

            .result {
              border-radius: 16px 999px 999px 16px;
              row-gap: $spacing-200;

              .calculated {
                flex-direction: row;
                column-gap: $spacing-300;
                align-items: center;

                .bmi-value {
                  @include flex-col;
                  row-gap: $spacing-100;
                  flex: 1;

                  .value {
                    @include text-preset-2-semiBold;
                  }
                }

                .classification-range {
                  flex: 1;
                }
              }
            }
          }
        }
      }

      .bmi_meaning {
        margin-top: $spacing-1100;
        margin-bottom: $spacing-1200;

        left: rem(-46px);
        @include flex-row;
        column-gap: $spacing-900;
        align-items: center;

        .human {
          img {
            height: rem(411.09px);
            width: rem(360.957px);
          }
        }

        .result_meaning {
          padding: 0;
        }
      }

      .tips {
        padding: rem(60px) rem(41px);

        .content {
          @include flex-row;
          align-items: center;
          column-gap: $spacing-500;
        }
      }

      .limitations_of_bmi {
        @include flex-col;
        row-gap: $spacing-700;
        padding: $spacing-1200 rem(43px) $spacing-1200 rem(39px);

        .limitations_container {
          grid-template-columns: repeat(4, 1fr);
          column-gap: $spacing-200;
          row-gap: $spacing-300;
          grid-template-areas:
            "gender gender age age"
            "muscle muscle preg preg"
            ". race race .";
        }
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  input[type="number"] {
    padding: $spacing-200 $spacing-300;
  }
  main {
    &.container {
      .behind {
        width: 68%;
        height: rem(737px);
      }
      .hero {
        row-gap: $spacing-300;
        padding: $spacing-1100 $spacing-1800;
        align-items: start;
        justify-content: center;

        .info-cards {
          @include flex-row;
          column-gap: $spacing-500;

          .hero-content {
            flex: 1;
            padding: $spacing-900 0;
            row-gap: $spacing-400;
            text-align: left;

            .title {
              @include text-preset-1-semiBold;
              padding: 0;
              padding-right: 3rem;
            }

            .copy {
              color: $grey-500;
              width: rem(465px);
            }
          }

          .form {
            flex: 1;
            form {
              row-gap: $spacing-400;
            }

            .result {
              .calculated {
                .bmi-value {
                  .value {
                    @include text-preset-1-semiBold;
                  }
                }
              }
            }
          }
        }
      }

      .bmi_meaning {
        background-image: url(../assets/images/pattern-curved-line-left.svg);
        background-repeat: no-repeat;
        background-position-x: 95%;
        background-position-y: 5%;
        padding-top: rem(51px);
        padding-bottom: $spacing-1200;
        margin: 0 $spacing-1800;

        left: 0;
        column-gap: rem(131px);
        align-items: center;

        .human {
          img {
            height: rem(533px);
            width: 100%;
          }
        }

        .result_meaning {
          margin-top: 9rem;
          h3 {
            @include text-preset-2-semiBold;
          }

          p {
            padding-right: rem(34px);
          }
        }
      }

      .tips {
        padding: $spacing-1200 $spacing-1600;
        @include flex-row;
        column-gap: $spacing-400;

        .content {
          @include flex-col;
          align-items: start;
          row-gap: $spacing-600;

          .desc {
            padding-right: 0.5rem;
          }
        }
      }

      .limitations_of_bmi {
        background-image: url(../assets/images/pattern-curved-line-right.svg);
        background-repeat: no-repeat;
        background-position-x: 25%;
        background-position-y: 45%;
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-areas:
          "lmtns lmtns lmtns gender gender ."
          ". . age age muscle muscle"
          ". preg preg race race .";
        column-gap: $spacing-400;
        row-gap: $spacing-400;
        padding: $spacing-1300 $spacing-1600;

        .limitations {
          grid-area: lmtns;
          text-align: left;
          width: rem(564px);
        }

        .limitations_container {
          display: contents;

          .limit {
            padding: $spacing-400;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1440px) {
  main {
    &.container {
      max-width: 1440px;
    }
  }
}
